%text{ 
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-family: Roboto;
    line-height: 24px;
}

%btn{ 
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    overflow-y: auto;
    background-color: black;
}

.header{ 
    &__info{ 
        width: 100%;     
        position: fixed;
        background-color: black;
    }
    &__container{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin: 10px;        
    }
    &__blanko{ 
        display: flex;
        justify-content: center;
        gap: 65px;
        margin-left: 320px;
    }
    &__mail{ 
        background-color: rgba(255, 255, 255, 0.12);
        @extend %text;
        border-radius: 4px;
        width: 151px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__navigation{ 
        margin-right: 320px;
        display: flex;
        align-items: center;
        gap: 30px;
    }
}

.menu{
    &__items{ 
        display: flex;
        align-items: center;
        gap: 75px;
        list-style-type: none;
        
    }
    &__link{ 
        border: 1px solid transparent;
        text-decoration: none;

        @extend %text;
        &:hover{ 
            transition: font-size .2s;
            font-size: 20px;
        }
    }


    &__buy{ 
        display: flex;
        margin-left: 65px;
        width: 207px;
        height: 48px;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        background-color: #FF7143;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 150% */
        color: black;
        border: 0;
        &:hover{ 
            transition: background-color .2s;
            background-color: wheat;
        }
    }
    
}

.main{ 
    background-color: #FF7143;
        
        height: 900px;
    &__main{ 
        width: 632px;
        height: 532px;
        padding: 151px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 250px;
        width: 100%;  

        & h3{ 
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 72px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px;
        }

        & p{ 
        color: #000;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px; /* 150% */
        margin-top: 45px;
        }
    }

    &__title{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn{ 
        margin-top: 40px;
        width: 226px;
        height: 64px;
        @extend %btn;
        border: 0;
        border-radius: 6px;
        cursor: pointer;
    }
    &__btn__black {
        background-color: black;
        color: white;
        &:hover{ 
            transition: color 1.7s;
            background-color: #3f3e45;
            color: black;
        }
    }
    &__btn__white{ 
        background-color: white;
        color: black;
        &:hover{ 
            transition: color 1.7s;
            background-color: #293241;
            color: white;
        }
    }

    &__image{ 
        margin-right: 310px;
        width: 417px;
        height: 860px;
        
    }

}


.section{ 
    &__container{ 
        background-color: white;
        width: 100%;
        height: 230px;
        
    }
    &__advantages{ 
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 40px;
    }
    &__advantages__cart{ 
        display: flex;
        justify-content: center;
    }
    &__text{ 
        padding-left: 20px;
        margin-top: 20px;
    }
    & h3{ 
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    }

    & p{ 
    padding-top: 3px;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    width: 257px;
    }
    & img{ 
        background-color: #FDE7DA;
        padding: 30px;
        text-align: center;
    }
}

.section__main{
    color: white;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    & img{
        display: flex;
        justify-content: center;
        padding-bottom: 39px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    & p{ 
    display: flex;
    justify-content: center;
    width: 576px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 120% */
    margin-bottom: 40px;
    }
    & h5{ 
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    &__rectangle__img{ 
    display: flex;
    flex-direction: row;        
    margin-top: 20px;
    padding: 0;
    float: left;
    padding-left: 265px; 
    gap: 10px;
}
}



.cards{
    
    &__container{ 
        background-color: white;
        height: 1205px;
    }
    &__items{ 
    display: inline-block;
    text-align: center;
    width: 500px;
    margin-top: 70px;
    margin-left: 80px;
        
}

    &__teg{ 
    color: #000;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
    padding-top: 50px;
    display: flex;
    justify-content: flex-start;
    margin-left: 95px;

}
    &__glav{
        display: flex;
        flex-wrap: wrap;
        padding-left: 18px;
        height: 400px;
        
    }

    & img{ 
    background-color: black;
    display: flex;
    width: 414px;
    padding: 40px 40px 0px 40px;
    justify-content: center;
    align-items: center;
    
    }

    & p{
    width: 414px;
    height: 60px;
    background-color: #fff;
    border: 1px solid gray;
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    }

}

.footer{
    background-color: black;
    width: 100%;
    height: 334px;
    &__link{ 
        display: flex;
        justify-content: space-around;    
        margin-top: 80px;
    }
    &__btn{
    width: 185px;
    height: 48px;
    border-radius: 6px;
    background: #FFF;
    cursor: pointer;
    @extend %btn;
    font-size: 16px;
    border: 0;
    &:hover{ 
        transition:background-color .4s ;
        background-color: #445075;
    }
    }

    
    &__link__two{ 
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 120px;
    }    
    &__ul{ 
        margin-left: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        list-style-type: none;
        
    }

    
    &__li{ 
        text-decoration: none;
        @extend %text;
        &:hover{ 
            transition: font-size .2s;
            font-size: 20px; 
        }
    }

    &__image_i{ 
        display: flex;
        width: 100px;
        gap: 10px;
        margin-right: 70px;

        justify-content: space-between;
    }

    &__rectangle{ 
        margin-left: 325px;
    }
    
    &__image{ 
        border: 1px solid rgba(0, 0, 0, 0.16);
        background: rgba(255, 255, 255, 0.10);
        padding: 16px 19px 10px 20px;

    }
    
    &__obg{ 
        display: flex;
        color: wheat;
        justify-content: space-around;
        gap: 10px;
        margin-top: 30px;
    }
    &__container__li{ 
        display: flex;
        gap: 10px;
        @extend %text;
        list-style-type: none;
        margin-right: 120px;
    }
    &__p{ 
        @extend %text;
    }
}